# 02: Cleaning
---

## 1. Imports

In [1]:
import pandas as pd
import numpy as np

import re
import collections

from pandas.api.types import infer_dtype

pd.set_option('display.max_columns', None)

---
## 2. Loading Data

In [2]:
all_storms = pd.read_csv('../data/all_storms_original.csv')

/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (16,25,26,28,29,34,35,37,39,40,42,43,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
all_storms

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_RANGE,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40.0,1950,April,Tornado,C,149,WASHITA,NaN,28-APR-50 14:45:00,CST,28-APR-50 14:45:00,0,0,0,0,250K,0,NaN,0.0,NaN,NaN,NaN,F3,3.4,400.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48.0,1950,April,Tornado,C,93,COMANCHE,NaN,29-APR-50 15:30:00,CST,29-APR-50 15:30:00,0,0,0,0,25K,0,NaN,0.0,NaN,NaN,NaN,F1,11.5,200.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42.0,1950,July,Tornado,C,77,LEHIGH,NaN,05-JUL-50 18:00:00,CST,05-JUL-50 18:00:00,2,0,0,0,25K,0,NaN,0.0,NaN,NaN,NaN,F2,12.9,33.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42.0,1950,July,Tornado,C,43,DAUPHIN,NaN,05-JUL-50 18:30:00,CST,05-JUL-50 18:30:00,0,0,0,0,2.5K,0,NaN,0.0,NaN,NaN,NaN,F2,0.0,13.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42.0,1950,July,Tornado,C,39,CRAWFORD,NaN,24-JUL-50 14:40:00,CST,24-JUL-50 14:40:00,0,0,0,0,2.5K,0,NaN,0.0,NaN,NaN,NaN,F0,0.0,33.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740592,202203,7,1641,202203,7,1641,167199.0,1011982,MISSOURI,29.0,2022,March,Winter Weather,Z,3,WORTH,EAX,07-MAR-22 16:41:00,CST-6,07-MAR-22 16:41:00,0,0,0,0,0.00K,0.00K,Law Enforcement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A late season system brought widespread light ...,"On Walnut Street near Sheridan, Missouri a veh...",CSV
1740593,202203,18,1625,202203,18,1645,167148.0,1011610,FLORIDA,12.0,2022,March,Thunderstorm Wind,C,31,DUVAL,JAX,18-MAR-22 16:25:00,EST-5,18-MAR-22 16:45:00,0,0,0,0,1000.00K,0.00K,911 Call Center,50.0,EG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,SE,EGGLESTON HGTS,1.0,SE,EGGLESTON HGTS,30.34,-81.59,30.34,-81.59,A pre-frontal squall line moved from northwest...,The Duval county 911 call center reported powe...,CSV
1740594,202203,1,0,202203,31,2359,166470.0,1006917,NEW MEXICO,35.0,2022,March,Drought,Z,225,UPPER TULAROSA VALLEY,ABQ,01-MAR-22 00:00:00,MST-7,31-MAR-22 23:59:00,0,0,0,0,NaN,NaN,Drought Monitor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,As what's typically expected for New Mexico du...,Severe drought conditions from February 2022 c...,CSV
1740595,202203,7,1506,202203,7,1506,167226.0,1012159,MONTANA,30.0,2022,March,Heavy Snow,Z,10,EASTERN GLACIER,TFX,07-MAR-22 15:06:00,MST-7,07-MAR-22 15:06:00,0,0,0,0,NaN,NaN,ASOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A vigorous shortwave trough and attendant cold...,Snow Squall observed at KCTB. Visibility fell ...,CSV
1740596,202203,7,1651,202203,7,1651,167226.0,1012160,MONTANA,30.0,2022,March,Heavy Snow,Z,12,CASCADE,TFX,07-MAR-22 16:51:00,MST-7,07-MAR-22 16:51:00,0,0,0,0,NaN,NaN,ASOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A vigorous shortwave trough and attendant cold...,Snow squall observed at KGTF. Visibility dropp...,CSV

---
## 3. Checking Mixed Dtypes

In [4]:
# Checking what columns were warned about having mixed dtypes

columns = [16,25,26,28,29,34,35,37,39,40,42,43,48,49]

for col in columns:
    print(str(col) + ': ' + all_storms.columns[col])

16: WFO
25: DAMAGE_CROPS
26: SOURCE
28: MAGNITUDE_TYPE
29: FLOOD_CAUSE
34: TOR_OTHER_WFO
35: TOR_OTHER_CZ_STATE
37: TOR_OTHER_CZ_NAME
39: BEGIN_AZIMUTH
40: BEGIN_LOCATION
42: END_AZIMUTH
43: END_LOCATION
48: EPISODE_NARRATIVE
49: EVENT_NARRATIVE

---
## 4. Mass Column Drop

In [5]:
# Dropping irrelevant columns (35). This gets rid of most columns with mixed dtypes.
# NOTE: Columns with mixed dtypes remaining: 25: DAMAGE_CROPS, 28: MAGNITUDE_TYPE

all_storms = all_storms.drop(columns =['BEGIN_YEARMONTH',
                                       'BEGIN_DAY',
                                       'BEGIN_TIME',
                                       'END_YEARMONTH',
                                       'END_DAY',
                                       'END_TIME',
                                       'EPISODE_ID',
                                       'EVENT_ID',
                                       'STATE_FIPS',
                                       'MONTH_NAME',
                                       'CZ_TYPE',
                                       'CZ_FIPS',
                                       'CZ_NAME',
                                       'WFO',
                                       'CZ_TIMEZONE',
                                       'SOURCE',
                                       'FLOOD_CAUSE',
                                       'CATEGORY',
                                       'TOR_OTHER_WFO',
                                       'TOR_OTHER_CZ_STATE',
                                       'TOR_OTHER_CZ_FIPS',
                                       'TOR_OTHER_CZ_NAME',
                                       'BEGIN_RANGE',
                                       'BEGIN_AZIMUTH',
                                       'BEGIN_LOCATION',
                                       'END_RANGE',
                                       'END_AZIMUTH',
                                       'END_LOCATION',
                                       'BEGIN_LAT',
                                       'BEGIN_LON',
                                       'END_LAT',
                                       'END_LON',
                                       'EPISODE_NARRATIVE',
                                       'EVENT_NARRATIVE',
                                       'DATA_SOURCE'])

In [6]:
# Changing remaining columns to lowercase

all_storms.columns = all_storms.columns.str.lower()

In [7]:
# Updated dataframe shape

all_storms.shape

(1740597, 16)

---
## 5. Missing Values

In [8]:
# Total missing values

all_storms.isnull().sum().sum()

7867249

In [9]:
# Percent of missing values

all_storms.isnull().sum().sum() / (1_740_597 * 23)

0.19651550838466691

In [10]:
# Missing values by column

all_storms.isnull().sum()

state                      1
year                       0
event_type                 0
begin_date_time            0
end_date_time              0
injuries_direct            0
injuries_indirect          0
deaths_direct              0
deaths_indirect            0
damage_property       551132
damage_crops          661876
magnitude             736506
magnitude_type       1305299
tor_f_scale          1668575
tor_length           1471930
tor_width            1471930
dtype: int64

In [11]:
# Dropping the row with a missing value in the state column

all_storms = all_storms.dropna(subset=['state'])

NOTE: Based on the original dataset dictionary, there are 40+ event types recorded, and some columns only pertain to certain events. In the interest of exploring the data further by event type, columns will not be dropped based on high missing value counts, nor will there be much imputing.

---
## 6. Data Type Conversions

In [12]:
#Checking dtypes

all_storms.dtypes

state                 object
year                   int64
event_type            object
begin_date_time       object
end_date_time         object
injuries_direct        int64
injuries_indirect      int64
deaths_direct          int64
deaths_indirect        int64
damage_property       object
damage_crops          object
magnitude            float64
magnitude_type        object
tor_f_scale           object
tor_length           float64
tor_width            float64
dtype: object

### 6.1. magnitude_type

In [13]:
# Casting magnitude_type to string because of the mixed type warning

all_storms['magnitude_type'] = all_storms['magnitude_type'].astype(str)

In [14]:
# Replacing 'nan' string with null values in the magnitude_type column

all_storms['magnitude_type'] = all_storms['magnitude_type'].replace('nan', np.nan)

### 6.2. begin_date_time & end_date_time

These 2 columns are currently object dtypes and will need to be converted to datetime dtypes. With a Time Series Analysis in mind, the begin_date_time column will eventually become the index, and will need to be sorted from the earliest date to the latest date. However, only the last 2 numbers of the year are listed for each event, making it difficult for the pd.to_datetime() function to distinguish between years that belong to the 1900s and the 2000s. The first 2 numbers of the year will need to be added manually for proper century assignment.

In [15]:
# Sorting the dataframe by year

all_storms = all_storms.sort_values(by='year')

In [16]:
# Manually checking for the index where the year 2000 rows start for begin_date_time

print(all_storms['begin_date_time'][0:420_154])
print(all_storms['begin_date_time'][420_154:])

0         28-APR-50 14:45:00
142       19-JUN-50 20:40:00
143       19-JUL-50 14:30:00
144       19-JUL-50 17:45:00
145       22-JUL-50 15:07:00
                 ...
389232    27-JUN-99 18:05:00
389233    13-MAR-99 08:00:00
389235    05-MAR-99 17:16:00
389236    01-APR-99 00:00:00
389234    26-AUG-99 23:30:00
Name: begin_date_time, Length: 420154, dtype: object
454826     01-NOV-00 00:00:00
454825     13-DEC-00 15:00:00
454838     08-NOV-00 19:45:00
454823     13-DEC-00 14:00:00
454822     21-DEC-00 04:00:00
                  ...
1730206    02-FEB-22 18:45:00
1730207    03-FEB-22 02:50:00
1730208    03-FEB-22 01:00:00
1730180    25-FEB-22 00:00:00
1740596    07-MAR-22 16:51:00
Name: begin_date_time, Length: 1320442, dtype: object

In [17]:
# Manually checking for the index where the year 2000 rows start for end_date_time

print(all_storms['end_date_time'][0:420_154])
print(all_storms['end_date_time'][420_154:])

0         28-APR-50 14:45:00
142       19-JUN-50 20:40:00
143       19-JUL-50 14:30:00
144       19-JUL-50 17:45:00
145       22-JUL-50 15:07:00
                 ...
389232    27-JUN-99 18:05:00
389233    13-MAR-99 16:00:00
389235    05-MAR-99 17:16:00
389236    02-APR-99 08:00:00
389234    26-AUG-99 23:30:00
Name: end_date_time, Length: 420154, dtype: object
454826     30-NOV-00 23:59:00
454825     14-DEC-00 03:30:00
454838     08-NOV-00 19:45:00
454823     14-DEC-00 03:30:00
454822     22-DEC-00 03:00:00
                  ...
1730206    04-FEB-22 09:15:00
1730207    03-FEB-22 10:15:00
1730208    03-FEB-22 19:45:00
1730180    25-FEB-22 16:00:00
1740596    07-MAR-22 16:51:00
Name: end_date_time, Length: 1320442, dtype: object

In [18]:
# Using the index where the year 2000 rows start (420_154) to specify what rows will need a '19' added to the year for both begin_date_time and end_date_time columns

all_storms['begin_date_time'][0:420_154] = all_storms['begin_date_time'][0:420_154].astype(str).str[:7] + '19' + all_storms['begin_date_time'][0:420_154].astype(str).str[7:]
all_storms['end_date_time'][0:420_154] = all_storms['end_date_time'][0:420_154].astype(str).str[:7] + '19' + all_storms['end_date_time'][0:420_154].astype(str).str[7:]

/var/folders/lt/y68043mx6fb0vfncc5r5pvp80000gn/T/ipykernel_17958/1913220105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_storms['begin_date_time'][0:420_154] = all_storms['begin_date_time'][0:420_154].astype(str).str[:7] + '19' + all_storms['begin_date_time'][0:420_154].astype(str).str[7:]
/var/folders/lt/y68043mx6fb0vfncc5r5pvp80000gn/T/ipykernel_17958/1913220105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_storms['end_date_time'][0:420_154] = all_storms['end_date_time'][0:420_154].astype(str).str[:7] + '19' + all_storms['end_date_time'][0:420_154].astype(str).str[7:]

In [19]:
# Using the index where the year 2000 rows start (420_154) to specify what rows will need a '20' added to the year for both begin_date_time and end_date_time columns

all_storms['begin_date_time'][420_154:] = all_storms['begin_date_time'][420_154:].astype(str).str[:7] + '20' + all_storms['begin_date_time'][420_154:].astype(str).str[7:]
all_storms['end_date_time'][420_154:] = all_storms['end_date_time'][420_154:].astype(str).str[:7] + '20' + all_storms['end_date_time'][420_154:].astype(str).str[7:]

/var/folders/lt/y68043mx6fb0vfncc5r5pvp80000gn/T/ipykernel_17958/4217572675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_storms['begin_date_time'][420_154:] = all_storms['begin_date_time'][420_154:].astype(str).str[:7] + '20' + all_storms['begin_date_time'][420_154:].astype(str).str[7:]
/var/folders/lt/y68043mx6fb0vfncc5r5pvp80000gn/T/ipykernel_17958/4217572675.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_storms['end_date_time'][420_154:] = all_storms['end_date_time'][420_154:].astype(str).str[:7] + '20' + all_storms['end_date_time'][420_154:].astype(str).str[7:]

In [20]:
print(all_storms['begin_date_time'])
print(all_storms['end_date_time'])

0          28-APR-1950 14:45:00
142        19-JUN-1950 20:40:00
143        19-JUL-1950 14:30:00
144        19-JUL-1950 17:45:00
145        22-JUL-1950 15:07:00
                   ...
1730206    02-FEB-2022 18:45:00
1730207    03-FEB-2022 02:50:00
1730208    03-FEB-2022 01:00:00
1730180    25-FEB-2022 00:00:00
1740596    07-MAR-2022 16:51:00
Name: begin_date_time, Length: 1740596, dtype: object
0          28-APR-1950 14:45:00
142        19-JUN-1950 20:40:00
143        19-JUL-1950 14:30:00
144        19-JUL-1950 17:45:00
145        22-JUL-1950 15:07:00
                   ...
1730206    04-FEB-2022 09:15:00
1730207    03-FEB-2022 10:15:00
1730208    03-FEB-2022 19:45:00
1730180    25-FEB-2022 16:00:00
1740596    07-MAR-2022 16:51:00
Name: end_date_time, Length: 1740596, dtype: object

In [21]:
%%time

# Converting begin_date_time and end_date_time to datetime dtypes

all_storms['begin_date_time'] = pd.to_datetime(all_storms['begin_date_time'])
all_storms['end_date_time'] = pd.to_datetime(all_storms['end_date_time'])

CPU times: user 6min 19s, sys: 1.73 s, total: 6min 21s
Wall time: 6min 26s

### 6.3. damage_crops & damage_property

These 2 columns are currently object dtypes but will need to be converted to int dtypes. Their values should be the full dollar amount in damages, not a shorthand value. For example, 5K should be 5,000 and 12.95M should be 12,950,000.

#### 6.3.1. damage_crops

In [22]:
# damage_crops summary

print('damage_crops')
print('Missing Values: ' + str(all_storms['damage_crops'].isnull().sum().sum()))
print('Unique Value Count: ' + str(all_storms['damage_crops'].nunique()))
all_storms['damage_crops'].value_counts()

damage_crops
Missing Values: 661875
Unique Value Count: 1377

0.00K       778095
0           163840
0            92493
0K            8947
5K            3086
             ...
12.95M           1
6.32M            1
2.69M            1
1.84M            1
2000.00K         1
Name: damage_crops, Length: 1377, dtype: int64

In [23]:
# Filling in all null values with the string '0' since the lack of a value likely means there was no damage

all_storms['damage_crops'] = all_storms['damage_crops'].fillna('0')

In [24]:
# Casting all values in the column to strings in order to perform regex

all_storms['damage_crops'] = all_storms['damage_crops'].astype(str)

In [25]:
# Getting rid of any '?' characters

all_storms['damage_crops'] = all_storms['damage_crops'].str.replace('?', '', regex=True)

In [26]:
# Function that removes any leading zeros for a string value

def no_lead_zeros(string):
    try:
        return str(int(string)) # If a value can immediately be turned into an int, do nothing, and return the string
    except:
        string = re.sub('\A[A-Za-z]*\Z', '0', string) # If a value contains only non-numeric characters, return a '0' as the string
        return re.sub('\A[0 ]*(?=[0-9])', '', string) # If a value starts with a '0', remove as many leading zeros until the real value begins

In [27]:
# Applying the no_lead_zeros function to the column to prevent errors in the following cell

all_storms['damage_crops'] = all_storms['damage_crops'].apply(no_lead_zeros)

In [28]:
%%time

# Replaces any shorthand dollar amount character with its mathematical notation, evaluates the new string, and returns the value as an int

repl_dict = {'[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9', '[tT]': '*1e12'}
all_storms['damage_crops'] = all_storms['damage_crops'].replace(repl_dict, regex=True).map(pd.eval).astype(int)

CPU times: user 6min 48s, sys: 3.26 s, total: 6min 52s
Wall time: 7min 7s

#### 6.3.2. damage_property

In [29]:
# damage_property summary

print('damage_property')
print('Missing Values: ' + str(all_storms['damage_property'].isnull().sum().sum()))
print('Unique Value Count: ' + str(all_storms['damage_property'].nunique()))
all_storms['damage_property'].value_counts()

damage_property
Missing Values: 551131
Unique Value Count: 3016

0.00K     577740
0         200035
1.00K      29088
5.00K      27652
10.00K     23688
           ...
.36M           1
30.3M          1
30.7M          1
122            1
9.60K          1
Name: damage_property, Length: 3016, dtype: int64

In [30]:
# Filling in all null values with the string '0' since the lack of a value likely means there was no damage

all_storms['damage_property'] = all_storms['damage_property'].fillna('0')

In [31]:
# Applying the no_lead_zeros function to the column to prevent errors in the following cell

all_storms['damage_property'] = all_storms['damage_property'].apply(no_lead_zeros)

In [32]:
%%time

# Replaces any shorthand dollar amount character with its mathematical notation, evaluates the new string, and returns the value as an int

repl_dict = {'[hH]': '*1e2', '[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9', '[tT]': '*1e12'}
all_storms['damage_property'] = all_storms['damage_property'].replace(repl_dict, regex=True).map(pd.eval).astype(int)

CPU times: user 6min 52s, sys: 2.07 s, total: 6min 54s
Wall time: 6min 58s

---
## 7. Creating New Columns

### 7.1. region

In [33]:
# Changing strings in the state column to title case

all_storms['state'] = all_storms['state'].str.title()

In [34]:
# Creating a for loop that assigns a state its region in a list

West = ['Washington', 'Oregon', 'California', 'Nevada', 'Idaho', 'Montana', 'Wyoming', 'Utah', 'Colorado', 'Arizona', 'New Mexico']
Midwest = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri', 'Wisconsin', 'Illinois', 'Indiana', 'Michigan', 'Ohio']
South = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana', 'Mississippi', 'Alabama', 'Georgia', 'Florida', 'South Carolina', 'North Carolina', 'Tennessee', 'Kentucky', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District Of Columbia']
Northeast = ['Pennsylvania', 'New Jersey', 'New York', 'Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont']

region = []

for i in all_storms['state']:
    if i in West:
        region.append('West')
    elif i in Midwest:
        region.append('Midwest')
    elif i in South:
        region.append('South')
    elif i in Northeast:
        region.append('Northeast')
    else:
        region.append(i)

In [35]:
# Using the list to create a column

all_storms['region'] = region

In [36]:
# Moving the column closer to the front of the dataframe next to state

column_to_move = all_storms.pop('region')
all_storms.insert(1, 'region', column_to_move)

In [37]:
# Writing to a csv

all_storms.to_csv('../data/all_storms_dt_damage_clean.csv', index=False)